doctype html
html(lang='en', ng-app='ladderApp')
head
  meta(charset='utf-8')
  title Simple Ladder App
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
  link(rel='stylesheet', href='css/animations.css')
  link(rel='stylesheet', href='css/cover.css')
  script(src='lib/jquery/dist/jquery.js')
  script(src='lib/bootstrap/dist/js/bootstrap.js')
  script(src='lib/angular/angular.js')
  script(src='lib/angular-animate/angular-animate.js')
  script(src='lib/angular-route/angular-route.js')
  script(src='lib/angular-resource/angular-resource.js')
  script(src='lib/angular-sanitize/angular-sanitize.js')
  script(src='js/app.js')
body
  .view-container
    .view-frame(ng-view='')

